main#container {
  position: relative;
}
div#appoinment-form {
  background-color: #ebebff;
  position: fixed;
  padding: 50px;
  width: 100%;
  height: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
h2 {
  text-align: center;
}
input.input {
  border: dashed 1px;
  border-radius: 4px;
  outline : none;
  box-sizing: border-box;
  padding-left: 16px;
  margin-left: 10px;
  color: #008ed6;
}
td#actions{
  display: flex;
  gap : 5px;
}